<?xml version="1.0"?>
<!--
/**
 * Copyright © Vitor Morais, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
           <resource id="Vitormorais_Whatsapp::config" title="Estudos - Vitor Morais" sortOrder="10" >
           </resource>
        </resource>
     </resources>
   </acl>
</config>

